<!-- <h1>Test</h1>
<hr>

<app-counter></app-counter>
<app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list> -->

<nav class="bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <a href="https://flowbite.com" class="flex items-center">
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Dragon Ball Z</span>
      </a>
      <div class="flex items-center">
          <p href="tel:5541251234" class="mr-6 text-sm text-white">Personajes</p>
      </div>
  </div>
</nav>

<app-dbz-main-page></app-dbz-main-page>
